spring:
  application:
    name: Imooc-Passbook-User
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/passbook?autoReconnect=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  kafka:
    bootstrap-servers: 127.0.0.1:9092
    consumer:
      group-id: passbook
    listener:
      concurrency: 4
  data:
    hbase:
      quorum: 127.0.0.1:2181
      rootDir:
      nodeParent:
  redis:
    host: 127.0.0.1
    port: 6379

server:
  port: 9528

logging:
  level:
    com.imooc.passbook_user: debug
  file: imooc-passbook-user.log